{% load i18n %}
{% load static %}
{% if messages %}
<div class="oh-wrapper">
    {% for message in messages %}
    <div class="oh-alert-container">
        <div class="oh-alert oh-alert--animated {{ message.tags }}">
            {{ message }}
        </div>
    </div>
    {% endfor %}
</div>
{% endif %}
{% include 'filter_tags.html' %}
{% if not dashboard %}
<div class="d-flex flex-row-reverse">
    <span class="m-3 review_ongoing" hx-get="{% url "request-filter" %}?{{pd}}&status=cancelled" hx-target="#leaveRequest" style="cursor: pointer">
      <span class="oh-dot oh-dot--small me-1" style="background-color:red"></span>
      {% trans "Cancelled" %}
    </span>
    <span class="m-3 confirmed" hx-get="{% url "request-filter" %}?{{pd}}&status=requested" hx-target="#leaveRequest" style="cursor: pointer">
      <span class="oh-dot oh-dot--small me-1" style="background-color:rgb(103, 171, 238)"></span>
      {% trans "Requested" %}
    </span>
    <span class="m-3 paid" hx-get="{% url "request-filter" %}?{{pd}}&status=approved" hx-target="#leaveRequest" style="cursor: pointer">
      <span class="oh-dot oh-dot--small me-1" style="background-color:yellowgreen"></span>
      {% trans "Approved" %}
    </span>
  </div>
{% endif %}
{% if leave_requests %}
    <div class="oh-sticky-table">
        <div class="oh-sticky-table__table ">
            <div class="oh-sticky-table__thead">
                <div class="oh-sticky-table__tr">
                    <div class="oh-sticky-table__th">{% trans "Employee" %}</div>
                    <div class="oh-sticky-table__th">{% trans "Leave Type" %}</div>
                    <div class="oh-sticky-table__th">{% trans "Start Date" %}</div>
                    <div class="oh-sticky-table__th">{% trans "End Date" %}</div>
                    <div class="oh-sticky-table__th">{% trans "Requested Days" %}</div>
                    <div class="oh-sticky-table__th">{% trans "Status" %}</div>
                    {% if  not dashboard %}
                        <div class="oh-sticky-table__th">{% trans "Options" %}</div>
                        <div class="oh-sticky-table__th">{% trans "Actions" %}</div>
                    {% endif %}
                </div>
            </div>
            <div class="oh-sticky-table__td">
    <div class="oh-btn-group">
        {% if leave_request.status == 'requested' %}
        <a href="{% url 'request-approve' leave_request.id %}"
           class="oh-btn oh-btn--success w-100"
           onclick="event.stopPropagation();">
            <ion-icon class="me-1" name="checkmark-outline"></ion-icon>
        </a>
        {% else %}
        <a class="oh-btn oh-btn--success oh-btn--disabled w-100"
           onclick="event.preventDefault(); event.stopPropagation();">
            <ion-icon class="me-1" name="checkmark-outline"></ion-icon>
        </a>
        {% endif %}

        {% if leave_request.status != 'cancelled' %}
        <a href="{% url 'request-cancel' leave_request.id %}"
           class="oh-btn oh-btn--danger w-100"
           onclick="event.stopPropagation();">
            <ion-icon class="me-1" name="close-circle-outline"></ion-icon>
        </a>
        {% else %}
        <a class="oh-btn oh-btn--danger oh-btn--disabled w-100"
           onclick="event.preventDefault(); event.stopPropagation();">
            <ion-icon class="me-1" name="close-circle-outline"></ion-icon>
        </a>
        {% endif %}
    </div>
</div>
        </div>
    </div>
    {% else %}
    <div style="height: 310px; display:flex;align-items: center;justify-content: center;" class="">
        <div style="" class="">
        <img style="    display: block;width: 70px;margin: 10px auto ;" src="{% static 'images/ui/attendance.png' %}" class="" alt=""/>
        <h3 style="font-size:16px" class="oh-404__subtitle">{% trans "You have No leave requests for this month." %}</h3>
        </div>
    </div>
{% endif %}

<!-- End of Sticky Table -->
{% if  not dashboard %}
<div class="oh-pagination">
    <span class="oh-pagination__page">
        {% trans "Page" %} {{ leave_requests.number }} {% trans "of" %} {{ leave_requests.paginator.num_pages }}.
    </span>
    <nav class="oh-pagination__nav">
        <div class="oh-pagination__input-container me-3">
            <span class="oh-pagination__label me-1">{% trans "Page" %}</span>
            <input type="number" name="page" class="oh-pagination__input" value="{{leave_requests.number}}"
                hx-get="{% url 'request-filter' %}?{{pd}}" hx-target="#leaveRequest" min="1" />
            <span class="oh-pagination__label">{% trans "of" %} {{leave_requests.paginator.num_pages}}</span>
        </div>
        <ul class="oh-pagination__items">
            {% if leave_requests.has_previous %}
            <li class="oh-pagination__item oh-pagination__item--wide">
                <a hx-target='#leaveRequest' hx-get="{% url 'request-filter' %}?{{pd}}&page=1"
                    class="oh-pagination__link">{% trans "First" %}</a>
            </li>
            <li class="oh-pagination__item oh-pagination__item--wide">
                <a hx-target='#leaveRequest'
                    hx-get="{% url 'request-filter' %}?{{pd}}&page={{ leave_requests.previous_page_number }}"
                    class="oh-pagination__link">{% trans "Previous" %}</a>
            </li>
            {% endif %}
            {% if leave_requests.has_next %}
            <li class="oh-pagination__item oh-pagination__item--wide">
                <a hx-target='#leaveRequest'
                    hx-get="{% url 'request-filter' %}?{{pd}}&page={{ leave_requests.next_page_number }}"
                    class="oh-pagination__link">{% trans "Next" %}</a>
            </li>
            <li class="oh-pagination__item oh-pagination__item--wide">
                <a hx-target='#leaveRequest'
                    hx-get="{% url 'request-filter' %}?{{pd}}&page={{ leave_requests.paginator.num_pages }}"
                    class="oh-pagination__link">{% trans "Last" %}</a>
            </li>
            {% endif %}

        </ul>
    </nav>
</div>
{% endif %}
